@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.root) {
	display: flex;
	flex-direction: column;
	width: 100%;
}

:local(.heading) {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: block;
	border-radius: @border-radius @border-radius 0 0;
	padding: @space-l @space-l 0 @space-l;
	text-align: center;
	font-size: @font-size-m;
	text-transform: uppercase;
}

:local(.body) {
	flex-grow: 1;
	padding: @site-panel-spacing;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0.6rem 0.8rem;
	margin: 1rem 0.8rem 0.3rem 0.8rem;
	border-radius: 3px;
	border: 1px solid #2d2e36;
	height: 91%;
	display: flex;

	>div {
		>div {
			display: flex;
			flex-direction: column;
		}
	}
}

:local(.form) {
	position: sticky;
	bottom: 0;
	z-index: 99;
	padding: @space-s @site-panel-spacing @site-panel-spacing @site-panel-spacing;
	background-color: @site-panel-bg-light;
	textarea {
		display: block;
		width: 100%;
		background-color: @site-panel-bg-light;
		border: 1px solid @border-1;
		padding: @space-s @site-panel-spacing;
		color: @gray-1;
		border-radius: @border-radius;
	}
}

:local(.chatMessage) {
	font-size: @font-size-m;
	margin: 0.375rem 0;
	background-color: @modal-bg-light;
	border-radius: @border-radius;
	padding: @space-s;
}

:local(.chatMessageUsername) {
	color: @primary;
}

:local(.chatMessageMessage) {
	a {
		color: @primary;
	}
}

:local(.disabledWrapper) {
	position: sticky;
	bottom: 0;
	z-index: 99;
	padding: @space-s @site-panel-spacing @site-panel-spacing @site-panel-spacing;
	background-color: @site-panel-bg-light;

	div {
		display: flex;
		width: 100%;
		height: 50px;
		background: @overlay-light;
		border: 1px solid @border-1;
		padding: @space-s @site-panel-spacing;
		color: @error;
		border-radius: @border-radius;
		justify-content: center;
		align-items: center;
		z-index: 99;
		cursor: not-allowed;
	}
}

:local(.input) {
	resize: none;
}

:local(.spaceFill) {
	flex-grow: 1;
}

:local(.chat) {
	flex: 1 1 90%; 
	display: flex; 
	flex-direction: column;
}

:local(.username) {
	font-weight: @font-weight-bold;
	// color: @primary;
}

:local(.time) {
	margin-left: @space-s;
	color: @gray-1;
	font-size: @font-size-s;
}