@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';

:local(.heading) {

	background-color: @site-panel-bg-light;
	border-radius: @border-radius;
	padding: @space-xs;
	text-align: center;
	font-size: @font-size-m;
}

:local(.body) {
	overflow-y: scroll
}

:local(.form) {

}

:local(.chatMessage) {
	font-size: @font-size-m;
	margin: @space-m 0;
}

:local(.chatMessageUsername) {
	color: @shamrock;
}

:local(.chatMessageMessage) {
}

