@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';

:local(.root) {
	display: flex;
	flex-direction: column;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0.6rem 0.8rem;
	margin: 1rem 0.8rem 0.3rem 0.8rem;
	border-radius: 3px;
	border: 1px solid #2d2e36;
}

:local(.heading) {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: block;
	border-radius: @border-radius @border-radius 0 0;
	padding: @space-l @space-l 0 @space-l;
	text-align: center;
	font-size: @font-size-m;
	text-transform: uppercase;
}

:local(.body) {
	flex-grow: 1;
	padding: @site-panel-spacing;
}

:local(.form) {
	position: sticky;
	bottom: 0;
	z-index: 99;
	padding: @space-s @site-panel-spacing @site-panel-spacing @site-panel-spacing;
	background-color: @site-panel-bg-light;
	textarea {
		display: block;
		width: 100%;
		background-color: @site-panel-bg-light;
		border: 1px solid @border-1;
		padding: @space-s @site-panel-spacing;
		color: @gray-1;
		border-radius: @border-radius;
	}
}

:local(.chatMessage) {
	font-size: @font-size-m;
	margin: @space-xs 0;
}

:local(.chatMessageUsername) {
	color: @primary;
}

:local(.chatMessageMessage) {
}

:local(.disabledMessage) {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: @overlay-light;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: @space-m;
	color: @error;
	z-index: 99;
	cursor: not-allowed;
}
