@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.root) {
	display: flex;
	height: 14rem;
	margin-bottom: @site-panel-spacing;
}

:local(.item) {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: @black-1;
	color: @white-2;
	.panelBase();
	padding: @space-xl;
	height: 100%;
	flex: 1;
	overflow: hidden;
	background-size: auto 100%;
	background-position: center right;
	background-repeat: no-repeat;
}

:local(.itemInner) {
	position: relative;
}

:local(.itemSport) {
	display: inline-block;
	padding: 0 0.5rem;
	height: 1.2rem;
	border-radius: @border-radius;
	background-color: @black-7;
	font-size: @font-size-s;
	line-height: 1;
	span {
		line-height: 1.2rem;
		color: @gray-1;
	}
}

:local(.itemHeading) {
	color: @primary;
	font-family: @font-family-soft;
	font-weight: 500;
	font-size: 1.6rem;
	margin: 0;
}

:local(.itemInfo) {
	margin-top: @space-s;
}

:local(.itemInfoHeading) {
	font-size: @font-size-xs;
	text-transform: uppercase;
	color: @gray-1;
}

:local(.itemInfoDetail) {
	margin: 0;
}

:local(.item):nth-of-type(2) {
	margin: 0 @site-panel-spacing;
}

// :local(.itemGlyph) {
// 	fill: #48494f;
// 	position: absolute;
// 	bottom: 0;
// 	right: 0;
// 	transform: translate(10%, 10%);
// 	.transitionAll();
// 	z-index: 0;
// }

// :local(.item):hover :local(.itemGlyph) {
// 	fill: @white-2;
// }

:local(.itemCta) {
	margin-top: @space-m;
	text-transform: uppercase;
}

:local(.itemSkeletonBlockHeading) {
	margin-top: 1.3rem;
	margin-bottom: 0.4rem;
	&:first-of-type {
		margin-top: 0;
	}
}
