@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.root) {
	display: flex;
	height: 14rem;
	margin-bottom: @site-panel-spacing;
}
