@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.root) {
	display: flex;
	align-items: center;
	height: @footer-item-height;
}

:local(.sliderValue) {
	display: flex;
	align-items: baseline;
	min-width: 65px;
	color: @primary;
}

:local(.currency) {
	font-size: 10px;
	letter-spacing: 0.02em;
}

// Yucky but quicker than retheming :~(
:local(.slider) {
	width: 160px;
	margin-left: @space-l;

	// .container
	._-dLk {
		padding-left: 0;
		height: 0.55rem;
	}

	.kq8Om {
		width: 0.55rem !important;
		height: 0.55rem !important;
	}

	// .progress
	._2R4jW {
		left: 0 !important;
		width: 100% !important;
	}

	// .innerknob
	._8VjZ5 {
		height: 0.55rem !important;
		width: 0.55rem !important;
		background-color: @white-1 !important;
	}

	// .snaps
	._2x5j_ {
		display: none;
	}

	// .innerprogress
	._3p0mR {
		top: ~'calc(50% - 0.15rem)';
		height: 0.3rem;
		background-color: @site-panel-bg-light;
		border-radius: 0.55rem;
		margin-left: 0.5rem;
	}

	// .value ()
	.I0PhY {
		background-color: @primary;
		border-radius: 0.55rem;
	}
}
