@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';

:local(.root) {
  display: flex;
  align-items: center;

  .slider-value {
    min-width: 65px;
    color: @primary;
    .currency {
      font-size: @font-size-s;
    }
  }
}

// Yucky but quicker than retheming :~(
:local(.slider) {
  width: 160px;
  margin-left: @space-l;

  // .container
  ._-dLk {
    padding-left: 0;
    height: 0.75rem;
  }

  .kq8Om {
    width: 0.75rem !important;
    height: 0.75rem !important;
  }

  // .progress
  ._2R4jW {
    left: 0 !important;
    width: 100% !important;
  }

  // .innerknob
  ._8VjZ5 {
    height: 0.75rem !important;
    width: 0.75rem !important;
    background-color: @white-1 !important;
    cursor: ew-resize;
  }

  // .snaps
  ._2x5j_ {
    display: none;
  }

  // .innerprogress
  ._3p0mR {
    top: 0;
    height: 0.75rem;
    background-color: @site-panel-bg-light;
    border-radius: 0.75rem;
    margin-left: 0.5rem;
  }

  // .value ()
  .I0PhY {
    background-color: @primary;
    border-radius: 0.75rem;
  }
}
