@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

@spaceRunner: 0.3rem;
@itemBg: @black-5;
@runnerHoverBg: #32343e;

:local(.group) {
  padding: @site-panel-spacing;
  border: 1px solid @border-2;
  border-radius: @border-radius;
  &:not(:last-of-type) {
    margin-bottom: @space;
  }
}

:local(.groupHeading) {
  font-size: @font-size-m;
  line-height: 1;
  margin-bottom: @site-panel-spacing;
}

:local(.groupHeadingSkeleton) {
  margin-top: 0.2rem;
  margin-bottom: 1.1rem;
}

:local(.itemRoot) {
  display: flex;
  background-color: @itemBg;
  border-radius: @border-radius;
  &:not(:last-of-type) {
    margin-bottom: @space-s;
  }
}

:local(.itemDate) {
  flex: 0 0 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:local(.itemDateDay) {
  display: block;
  color: @gray-1;
  font-size: @font-size-xs;
  line-height: 1;
  text-transform: uppercase;
}

:local(.itemDateTime) {
  display: block;
  color: @white-3;
  line-height: 1;
  margin-top: 0.2em;
}

:local(.runnerRow) {
  flex: 0 0 100%;
  padding: @spaceRunner @spaceRunner @spaceRunner @space;
  min-height: 38px;
  display: flex;
  align-items: center;
  &:not(:last-of-type) {
    border-bottom: 1px solid @border-2;
  }
  &:hover {
    background-color: @runnerHoverBg;
  }
}

:local(.marketRowSkeleton) {
  margin: @space-s;
}

:local(.marketRow) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

:local(.marketRowDetail) {
  color: @white-3;
}

:local(.marketRowActions) {
  display: flex;
  button:not(:last-of-type) {
    margin-right: @spaceRunner;
  }
}

:local(.main) {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid @border-2;
  border-left: 1px solid @border-2;
  flex-grow: 1;
}

:local(.side) {
  flex: 0 0 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:local(.sideMatched) {
  display: block;
  color: @gray-1;
  font-size: @font-size-xs;
  line-height: 1;
  text-transform: uppercase;
}

:local(.sidePool) {
  display: block;
  color: @white-1;
  line-height: 1;
  margin: 0.2em 0 0.25rem;
}

:local(.sideCurrency) {
  display: block;
  font-size: @font-size-xs;
  line-height: 1;
}

:local(.suspended) {
  width: 171px; // Need a better solution for this
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid @border-2;
  padding: 0 @space-s;
  text-transform: uppercase;
  text-align: center;
}
