@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';

:local(.root) {
  padding: 0 24px 0 12px;
  margin-top: 12px;
}

:local(.itemRoot) {
  display: flex;
  border: 1px solid @market-item-border;
  border-radius: 3px;

  .market-item-side {
    width: 80px;
  }

  .market-item-middle {
    display: flex;
    border-right: 1px solid @market-item-border;
    border-left: 1px solid @market-item-border;
    flex-grow: 1;
    flex-direction: column;

    .runner {

      .market-item-row {
        height: 35px;
        border-bottom: 1px solid @market-item-border;
        display: flex;
        align-items: center;

        &-detail {
          flex-grow: 1;
          padding-left: 10px;
        }

        &-actions {
          display: flex;
          padding: 5px;
        }
      }

      &:last-child {
        .market-item-row:last-child {
          border-bottom: none;
        }
      }

      .bet {
        font-size: 9.5px;
      }
    }
  }
}

:local(.oddsButton) {
  width: 60px;
  height: 25px;
  margin-right: 5px;
  padding: 0;

  &:last-child {
    margin: 0;
  }

  .odds {
    display: block;
    line-height: 16px;
  }

  .matched {
    display: block;
    font-size: 7.5px;
    line-height: 5px;
  }
}
