@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

:local(.dateHeading) {
  display: block;
  font-size: @font-size-m;
  line-height: 1;
  color: @gull-gray;
  margin-bottom: @space;
  background-color: @site-panel-bg-light;
  padding: @space-xs @space;
  border-radius: @border-radius;
}

:local(.itemRoot) {
  display: flex;
  border: 1px solid @market-item-border;
  border-radius: @border-radius;
  margin-bottom: @space;
}

:local(.itemDate) {
  flex: 0 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:local(.itemDateDay) {
  display: block;
  .headingS();
}

:local(.itemDateTime) {
  display: block;
  .headingM();
  color: @white;
}

:local(.runnerRow) {
  flex: 0 0 100%;
  padding: 0.4em @space;
  &:not(:last-of-type) {
    border-bottom: 1px solid @market-item-border;
  }
}

:local(.marketRow) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

:local(.marketRowDetail) {
  color: @gull-gray;
  font-size: 13px;
}

:local(.marketRowActions) {
  display: flex;

  .button:not(:last-of-type) {
    margin-right: @space-s;
  }

}

:local(.main) {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid @market-item-border;
  border-left: 1px solid @market-item-border;
  flex-grow: 1;
}

:local(.side) {
  flex: 0 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

:local(.sideMatched) {
  display: block;
  .headingXS();
}

:local(.sidePool) {
  display: block;
  .headingM();
  color: @white;
}

:local(.sideCurrency) {
  display: block;
  font-size: @font-size-xs;
}

:local(.betRow) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: @space 0;
}

:local(.betRowDetail) {
  .headingS();
}

:local(.betRowActions) {
  display: flex;
}

:local(.betRowActionsOdds),
:local(.betRowActionsBet),
:local(.betRowActionsProfit) {
  display: flex;
  align-items: center;
  margin-right: @space-l;
  span {
    display: inline-block;
    margin-right: @space-xs;
    .headingS();
    color: @white;
  }
}

:local(.betRowActionsProfitAmount) {
  color: @shamrock;
}
