@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';

@panel-height: (@header-height + @footer-height) + (@panel-gutter * 4);

:local(.root) {
  display: flex;
  width: 100%;
}

:local(.left) {
 flex: 0 0 210px;
 height: ~"calc(100vh - @{panel-height})";
 overflow-y: scroll;
 .makePanel();
}

:local(.main) {
  flex-grow: 1;
  margin: 0 @panel-gutter;
  height: ~"calc(100vh - @{panel-height})";
  overflow-y: scroll;
}

:local(.mainMarket) {
  .makePanel();
  padding: 0;
}

:local(.mainMedia) {
  display: block;
  padding-bottom: 25%;
  border-radius: 5px;
  margin: 0 0 @panel-gutter 0;
  background-color: @gull-gray;
}

:local(.right) {
  height: ~"calc(100vh - @{panel-height})";
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
}

:local(.bets) {
  flex: 0 0 200px;
  overflow-y: scroll;
  .makePanel();
  padding: 0;
}

:local(.chat) {
  flex-grow: 1;
  .makePanel();
  position: relative;
  margin-top: @panel-gutter;
  overflow-y: scroll;
}

:local(.footer) {
  margin-top: @space;
  .makePanel();
}
