@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';

:local(.root) {
  display: flex;
  width: 100%;
}

:local(.left) {
 flex: 0 0 250px;
 .makePanel();
}

:local(.main) {
  flex-grow: 1;
  margin: 0 1rem;
}

:local(.mainMarket) {
  .makePanel();
  padding: 0;
}

:local(.mainMedia) {
  display: block;
  padding-bottom: 33%;
  border-radius: 5px;
  margin: 0 0 1rem 0;
  background-color: @gull-gray;
}

:local(.right) {
  flex: 0 0 250px;
 .makePanel();
 padding: 0;
}

:local(.footer) {
  margin-top: @space;
  .makePanel();
}
