@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';

@elHeight: 1.7rem;

:local(.root) {
	position: relative;
	max-width: 18rem;
	width: 100%;
	display: flex;
}

:local(.icon) {
	position: relative;
	top: 1px;
	fill: #6c6f74;
	.transitionAll();
}

:local(.iconLarge) {
	display: block;
	margin: 0 auto @space-l auto;
	fill: @gray-1;
}

:local(.input) {
	height: @elHeight;
	flex: 1;
	width: 100%;
	background: #25262f;
	border: none;
	font-size: @font-size-m;
	line-height: 1;
	padding: 0.4rem;
	color: @gray-1;
	border-radius: @border-radius 0 0 @border-radius;
	cursor: not-allowed;

	&::-webkit-input-placeholder {
		color: @gray-1;
	}
	&:-moz-placeholder {
		color: @gray-1;
	}
	&::-moz-placeholder {
		color: @gray-1;
	}
	&:-ms-input-placeholder {
		color: @gray-1;
	}

	&:focus {
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholder {
			color: transparent;
		}
	}
}

:local(.button) {
	flex: none;
	background: #303139;
	border: none;
	border-radius: 0 @border-radius @border-radius 0;
	height: @elHeight;
	width: 2.4rem;
	cursor: not-allowed;
	&:focus,
	&:hover {
		background: lighten(#303139, 5%);
		:local(.icon) {
			fill: @white-1;
		}
	}
}

:local(.dropdown) {
	width: 100%;
	text-align: center;
}

:local(.dropdownInner) {
	padding: @space-l;
	color: @error;
}
