@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.root) {
	height: @footer-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

:local(.left) {
	display: flex;
	align-items: center;
}

:local(.right) {
	display: flex;
	align-items: center;
}

:local(.betView) {
	display: flex;
	align-items: center;
	height: @footer-item-height;
}

:local(.betViewText) {
	font-size: 10px;
	letter-spacing: 0.02em;
	line-height: 1;
	text-transform: uppercase;
	color: @white-2;
}

:local(.loading) {
	width: 35rem;
}
