@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.itemRoot) {
  position: relative;
  padding: @space-s;
  border-left: @border-radius solid;
  background-color: @black-5;
  border-radius: @border-radius;
  margin: @space-s 0;

  &:first-of-type {
    margin-top: 0;
  }

  &.back {
    border-left-color: @back;
  }

  &.lay {
    border-left-color: @lay;
  }
}

:local(.header) {
  margin-bottom: @space-s;
}

:local(.headerTop) {
}

:local(.headerTitle) {
  width: 205px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local(.headerSub) {
  display: block;
  color: @gray-1;
  font-size: @font-size-s;
  margin-top: 0.1rem;
}

:local(.removeButton) {
  position: absolute;
  top: @space-s;
  right: @space-s;
  padding: 0;
  line-height: 1;
  height: auto;

  svg {
    fill: @gray-1;
    .transitionAll();
  }

  &:focus,
  &:hover {
    svg {
      fill: @white-1;
    }
  }
}

:local(.details) {
  display: flex;
}

:local(.detailsItem) {
  font-size: @font-size-s;
  width: 25%;
  margin-right: @space-s;
}

:local(.detailsHeading) {
  display: flex;
  justify-content: space-between;
  margin-bottom: @space-xs;
  padding-right: 12px;
  color: @white-2;
  font-size: @font-size-xs;
  line-height: 1;
  text-transform: uppercase;
}

:local(.detailsCurrency) {
  color: @gray-1;
}

:local(.detailsBet) {
  flex-grow: 1;
  margin-top: auto;
}

:local(.input) {
  font-family: @font-family;
  font-size: @font-size-s;
  line-height: 1;
  width: 100%;
  background-color: darken(@site-panel-bg-light, 4%);
  color: @white-1;
  padding: 0.5em;
  border-radius: @border-radius;
  &:focus {
    outline: none;
  }
}

:local(.removeAll) {
  display: flex;
  justify-content: flex-end;
  margin-top: @space;
  margin-right: @space-s;
}

:local(.removeAllButton) {
  display: flex;
  align-items: center;
  padding: 0;
  color: @gray-1;
  height: auto;
  
  &:hover,
  &:focus {
    color: @white-1;
  }

  svg {
    position: relative;
    top: -1px;
    display: inline-block;
    margin-left: @space-xs;
    fill: currentColor;
  }
}
