@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';

:local(.tabs) {
  display: flex;
  flex-wrap: wrap;
}

:local(.tab) {
  &.active {
    background-color: @black-5;
    color: @primary !important;
  }

  &:not(:first-of-type) {
    margin-left: @space-m;
  }

  &:hover,
  &:focus {
    background-color: @black-5;
    color: @white-1;
  }
}
