@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';


:local(.root) {
  display: flex;

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input {
    border-radius: @border-radius;
    background-color: @site-panel-bg-light;
    width: 40px;
    padding: @space-xs;
    font-family: @font-family;
    font-size: @font-size-xs;
    color: @white;
    &:focus {
      outline: none;
    }
  }
}
