@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.root) {
  display: flex;
  align-items: center;
}

:local(.buttons) {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
}

:local(.input) {
  font-family: @font-family;
  font-size: @font-size-s;
  line-height: 1;
  width: 100%;
  padding: 0.5em;
  border-radius: @border-radius;
  border: 1px solid @border-1;
  color: @white-1;
  .transitionAll();

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    background: lighten(@black-5, 3%);
  }
}

:local(.increment),
:local(.decrement) {
  padding: 0;
  background: transparent;
}

:local(.increment) {
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid @gray-1;
  margin-bottom: 0.1rem;
}

:local(.decrement) {
  width: 0;
  height: 0;
  border-bottom: 0;
  margin-top: 0.1rem;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid @gray-1;
}
