@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';

:local(.root) {
	display: flex;
}

:local(.timeInfo) {
	display: flex;
	align-items: center;
	color: @white-2;
	line-height: 1;
	background-color: @site-panel-bg-light;
	padding: 0.2rem 0.5rem;
	border-radius: @border-radius;

	&:not(:first-of-type) {
		margin-left: @space-s;
	}
}

:local(.timeBlock) {
	display: inline-block;
	font-size: 9px;
	line-height: 1;
	margin-left: @space-s;
	text-align: center;
	color: @white-1;
	border: 1px solid @primary;
	line-height: 1rem;
	height: 1rem;
	min-width: 1.5rem;
	padding: 0 0.2rem;
	border-radius: @border-radius;
	.transitionAll();
}

:local(.infoLoading) {
	width: 6rem;

	&:not(:first-of-type) {
		margin-left: @space-s;
	}
}
