@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

:local(.tabs) {
	position: sticky;
	top: 0;
	z-index: 99;
}

:local(.tab) {
	width: 50%;
}

:local(.content) {
  padding: @space;

  .is-inactive {
    display: none;
  }
  
}
