@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

:local(.inner) {
	padding: 0 @site-panel-spacing @site-panel-spacing @site-panel-spacing;
}

:local(.tabs) {
	position: sticky;
	top: 0;
	z-index: 99;
	background-color: @site-panel-bg-light;
	padding: @site-panel-spacing 0;
}

:local(.tabContent) {
	&.is-inactive {
		display: none;
	}
}
