@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.root) {
	width: 100%;
}

:local(.header) {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	margin: 0.4rem 0 1.2rem 0;
	color: @white-1;
	padding: 0 @space-s;
	font-weight: @font-weight-semibold;
}

:local(.headerIcon) {
	position: relative;
	top: -1px;
	display: inline-block;
	fill: currentColor;
	margin: 0 @space-xs;
}

:local(.nav) {
	border-bottom: 1px solid @border-1;
}

:local(.item) {
	display: block;
	padding: 0.3rem 0;
	border-top: 1px solid @border-1;
	color: @white-2;
	.transitionAll();
	&:hover,
	&:focus {
		:local(.itemInner) {
			background-color: @black-3;
		}
	}

	svg {
		fill: currentColor;
	}
}

:local(.itemActive) {
	color: @primary;
	:local(.itemInner) {
		background-color: @black-3;
	}
	:local(.itemCount) {
		border-color: @primary;
		color: @white-1;
	}
}

:local(.itemInner) {
	min-height: 2.1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem @space-s;
	border-radius: @border-radius;
	.transitionAll();
}

:local(.itemName) {
	line-height: 1;
}

:local(.itemIcon) {
	display: inline-block;
	margin-right: 0.35rem;
	fill: currentColor;
	opacity: 0.85;
}

:local(.itemLeft) {
	display: flex;
	align-items: center;
}

:local(.itemRight) {
	display: flex;
	align-items: center;
	margin-left: @space-s;
}

:local(.itemCount) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid @white-1;
	height: 20px;
	min-width: 20px;
	padding: 0 0.3rem;
	border-radius: @border-radius;
	margin-right: @space-s;
	.transitionAll();
	font-size: 10px;
	line-height: 1;
	letter-spacing: 0.02em;
	font-weight: @font-weight-semibold;
	color: @white-1;
}

:local(.itemCount) span {
}

:local(.skeletonItems) {
	margin-top: @site-panel-spacing;
	padding: @site-panel-spacing;
}

:local(.itemSkeleton) {
	padding: @space-m 0;
}
