@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';

:local(.root) {
  display: flex;
  flex-direction: row;
  height: inherit;

  .header-logo-img {
    height: 50px;
  }

  .header-content {
    flex-grow: 1;
  }
}
