@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

:local(.root) {
  height: @header-height;
  display: flex;
  margin-bottom: @panel-gutter;
}

:local(.logo) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: @header-height;
  width: @header-height;
  .makePanel();
  padding: @space-s;
  &:focus,
  &:hover {
    opacity: 0.6;
  }
}

:local(.main) {
  display: flex;
  align-content: center;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: @space;
  .makePanel();
}

:local(.actions) {
  display: flex;
  align-content: center;
  align-items: center;
}

:local(.balance) {
  min-width: 5rem;
}

:local(.balanceHeading) {
  display: block;
  margin-bottom: @space-xs;
  font-size: @font-size-xs;
  line-height: 1;
  text-transform: uppercase;
  color: @white-2;
}

:local(.balanceAmount) {
  display: block;
  font-size: @font-size-l;
  color: @primary;
  line-height: 1;
}

:local(.balanceAmountCurrency) {
  font-size: @font-size-xs;
}

:local(.newAccount) {
  margin-left: @space-m;
}
