@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';

:local(.root) {
	display: inline-block;
	padding: 0 0.5rem;
	height: 1rem;
	border-radius: @border-radius;
	background-color: @black-3;
	font-size: @font-size-xs;
	line-height: 1;
}

:local(.text) {
	text-transform: uppercase;
	line-height: 1rem;
}

:local(.pending) {
	color: #eae16c;
}

:local(.active) {
	color: @primary;
}

:local(.filled) {
	color: @white-1;
}
