@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.itemRoot) {
  position: relative;
  padding: @space-s;
  border-left: @border-radius solid;
  background-color: @black-5;
  border-radius: @border-radius;
  margin: @space-s 0;
  &:first-of-type {
    margin-top: 0;
  }
  &.back {
    border-left-color: @back;
  }

  &.lay {
    border-left-color: @lay;
  }
}

:local(.header) {
  display: flex;
  justify-content: space-between;
  margin-bottom: @space-s;
}

:local(.headerInfo) {
  flex: 1;
  padding-right: @space;
  overflow: hidden;
}

:local(.headerStatus) {
  flex: none;
}

:local(.heading) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local(.headingSub) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.1rem;
  color: @gray-1;
  font-size: @font-size-s;
}

:local(.details) {
  display: flex;
}

:local(.detailsItem) {
  font-size: @font-size-s;
  width: 25%;
  padding-right: @space-s;
}

:local(.detailsHeading) {
  display: flex;
  justify-content: space-between;
  margin-bottom: @space-xs;
  color: @white-2;
  font-size: @font-size-xs;
  line-height: 1;
  text-transform: uppercase;
}

:local(.detailsCurrency) {
  color: @gray-1;
}

:local(.detailsValue) {
  display: block;
  font-size: @font-size-s;
  line-height: 1;
  color: @white-1;
  padding: 0.5em;
  border-radius: @border-radius;
  border: 1px solid @border-1;
  background: lighten(@black-5, 3%);
}
