@import '../../../../less/_colours.less';
@import '../../../../less/_utils.less';
@import '../../../../less/_fonts.less';

:local(.itemRoot) {
  padding: 0;
  margin: @space-m 0;
  padding: @space-s;
  border-left: 3px solid;
  background-color: @site-panel-bg-light;
  border-radius: @border-radius;
  
  &.back {
    border-left-color: @shamrock;
  }
  
  &.lay {
    border-left-color: @roman;
  }

}

:local(.header) {
  margin-bottom: @space-m;
}

:local(.headerTop) {
  display: flex;
  justify-content: space-between;
}

:local(.headerTitle) {
  width: 205px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local(.headerSub) {
  display: block;
  @color: @gull-gray;
  font-size: @font-size-s;
}

:local(.status) {
  display: inline-block;
  font-size: @font-size-xs;
  border-radius: @border-radius;
  text-transform: uppercase;
  padding: 0.4em 1em 0.3em;
  background-color: @site-panel-bg;

  &.pending {
    color: #eae16c;
    background-color: fade(#eae16c, 8%);
  }

  &.active {
    background-color: fade(@shamrock, 8%);
    color: @shamrock;
  }

  &.filled {
    color: @white;
  }
}

:local(.details) {
  display: flex;
}

:local(.detailsItem) {
  font-size: @font-size-s;
  width: 25%;
  padding-right: @space-s;
}

:local(.detailsHeading) {
  display: flex;
  justify-content: space-between;
  margin-bottom: @space-xs;
  padding-right: 12px;
}

:local(.detailsCurrency) {
  color: @white;
}

:local(.detailsValue) {
  display: block;
  font-size: @font-size-s;
  line-height: 1;
  background-color: darken(@site-panel-bg-light, 4%);
  color: @white;
  padding: 0.5em;
  border-radius: @border-radius;
}

:local(.detailsHeading) {
  display: flex;
  color: @gull-gray;
  .headingXS();
}

