/* Colours */
// Purples
@shark: #232328;
@charade: #262633;
@charade-light: #2D2B3D;
@tuna: #383647;
@gunpowder: #3F3D4E;

// Grays
@mid-gray: #6A6976;
@gull-gray: #949FAF;
@white: #FFFFFF;

// Greens
@shamrock: #2BE488;

// Reds
@roman: #DB6B6B;

/* Components */

@site-text: @white;

// Site and panels
@site-bg: @shark;

@site-panel-bg: @charade;
@site-panel-bg-light: @tuna;

// Navigation
@nav-item-border: @mid-gray;
@nav-item-active: @tuna;
@nav-item-hover: @charade-light;
@nav-text-active: @shamrock;

// Market List
@market-header: @tuna;
@market-item-border: fade(@white, 15%);

// Modal
@modal-bg: rgba(0, 0, 0, 0.6);