.font-names {

  @font-face {
    font-family: 'brandon-grotesque-light';
    src: url('../fonts/brandon-grotesque-light.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'brandon-grotesque-medium';
    src: url('../fonts/brandon-grotesque-medium.otf');
    font-weight: normal;
    font-style: normal;
  }

}
