.font-names {

  @font-face {
    font-family: 'brandon-grotesque-light';
    src: url('../fonts/proxima-nova-soft-regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'brandon-grotesque-regular';
    src: url('../fonts/proxima-nova-soft-sb-regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'brandon-grotesque-medium';
    src: url('../fonts/proxima-nova-soft-bold.ttf');
    font-weight: normal;
    font-style: normal;
  }

}

.multilineTruncate(@height, @line-height, @lines) {
  display: -webkit-box;
  height: @height;
  line-height: @line-height;
  -webkit-line-clamp: @lines;
  overflow: hidden;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
