@import './_utils';

@font-face {
	font-family: 'ProximaNovaSoft';
	src: url('../fonts/proxima-nova-soft-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-regular-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-family: 'ProximaNova', sans-serif;
@font-family-soft: 'ProximaNovaSoft', @font-family;
@font-weight-regular: 500;
@font-weight-semibold: 600;
@font-weight-bold: bold;

.defaultFont() {
	font-family: @font-family;
	font-weight: @font-weight-regular;
	font-size: @font-size;
	line-height: 1.3;
}
