@import './_colours.less';

/* 
 * Spacing
 */

@space-xs: 0.25rem;
@space-s: 0.5rem;
@space-m: 0.75rem;
@space-l: 1rem;
@space-xl: 1.4rem;
@space: @space-m;

/* 
 * Font Size
 */

@font-size-xs: 9px;
@font-size-s: 11px;
@font-size-m: 13px;
@font-size-l: 15px;
@font-size-xl: 20px;
@font-size-xxl: 30px;
@font-size: 13px;

/* 
 * Border Radius
 */
@border-radius: 3px;

/* 
 * Panels
 */
@header-height: 3rem;
@footer-height: 2.8rem;
@panel-gutter: 0.8rem;
@site-panel-spacing: 0.8rem;
@site-panel-border-radius: @border-radius;

.panelBase() {
  border-radius: @site-panel-border-radius;
  padding: @site-panel-spacing;
  box-shadow: 0 0 5px 0 @site-panel-shadow;
}

.makePanel() {
  .panelBase();
  background-color: @site-panel-bg;
}

.makePanelLight() {
  .panelBase();
  background-color: @site-panel-bg-light;
}

.color-back {
  color: @back;
}

.color-lay {
  color: @lay;
}

// Transitions

.transitionAll() {
  transition: all 300ms;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
