@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

// Base

:local(.root) {
	font-family: @font-family;
	background: transparent;
	outline: none;
	-webkit-apperance: none;
	cursor: pointer;
	display: inline-block;
	border: 1px solid @white-1;
	border-radius: 3px;
	padding: 0 0.9em;
	color: currentColor;
	font-size: @font-size;
	transition: all 0.3s;

	&:not(:local(.button-square)) i {
		margin-right: 0.5rem;
		font-size: 1em;
	}
}

// Tabs

:local(.button-tab) {
	display: flex;
	// align-items: center;
	font-size: @font-size-m;
	padding: 1rem 1.25rem;
	color: @gray-1;

	&:hover,
	&:focus {
		color: @white-1;
	}

	svg {
		display: inline-block;
		margin-right: @space-xs;
	}
}

// Square

:local(.button-square) {
	padding: 0.25rem;
}

// Minimal

:local(.button-minimal) {
	border: 0;
	&:hover,
	&:focus {
		background: none;
	}
}

// Disabled

:local(.disabled) {
	cursor: not-allowed !important;
	opacity: 0.3;
}

// Active

:local(.button-active) {
	color: @primary;
	border-color: @primary;
}

// Button sizes

:local(.button-small) {
	letter-spacing: 0;
	font-size: @font-size-s;
	line-height: 1.4rem;
}

:local(.button-medium) {
	letter-spacing: 0;
	font-size: @font-size-m;
	line-height: 1.7rem;
}

// Button colours

:local(.button-white) {
	border-color: @white-2;
	color: @white-2;
	&:focus,
	&:hover {
		background: @white-2;
		color: @black-1;
	}
}

:local(.button-primary) {
	background: fade(@primary, 5%);
	border-color: @primary;
	color: @primary;
	&:focus,
	&:hover {
		background-color: @primary;
		color: @black-1;
	}
}

:local(.button-black-5) {
	background: @black-5;
	border: 0;
	&:hover,
	&:focus {
		background: @black-5;
	}
}

// Bet Buttons

:local(.button-bet) {
	padding: 0.0625rem 0.4rem;
	min-width: 80px;
	min-height: 34px;

	.odds {
		display: block;
		font-weight: @font-weight-bold;
		font-size: @font-size-m;
		line-height: 1;
	}

	.matched {
		display: block;
		font-size: @font-size-s;
		line-height: 1;
	}
}

:local(.button-back) {
	background: fade(@back, 5%);
	color: @back;
	border-color: @back;

	&:hover {
		background: @back;
		color: @black-1;
	}
}

:local(.button-lay) {
	background: fade(@lay, 5%);
	color: @lay;
	border-color: @lay;

	&:hover {
		background: @lay;
		color: @black-1;
	}
}
