@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

:local(.icon) {
	i {
		font-size: 22px;
		color: @gray-1;
		.transitionAll();
		&:focus,
		&:hover {
			color: @primary;
		}
	}
}

:local(.iconActive) {
	opacity: 1 !important;
	i {
		color: @primary;
		opacity: 1;
	}
}

:local(.form) {
	display: flex;
	flex-wrap: wrap;
}

:local(.formInput) {
	width: 100%;
	border-radius: @border-radius;
	border: 1px solid @white-2;
	font-size: @font-size-s;
	padding: 0.75em 1.25em;
	color: @white-2;
	cursor: not-allowed;
	margin-bottom: @space-m;

	&:hover,
	&:focus {
		color: @white-2;
	}

	&::-webkit-input-placeholder {
		color: @white-2;
	}
	&:-moz-placeholder {
		color: @white-2;
	}
	&::-moz-placeholder {
		color: @white-2;
	}
	&:-ms-input-placeholder {
		color: @white-2;
	}
}

:local(.formSubmit) {
	margin-left: auto;
}

/*
 * Settings 
 */

:local(.settingsRoot) {
	position: relative;
	margin-right: 0.5rem;
}

:local(.settings) {
	list-style: none;
	padding: 0 @space;
	margin: 0;
}

:local(.settingsItem) {
	padding: @space-s 0;
	font-size: @font-size-m;
	color: @white-2;

	&:not(:first-child) {
		border-top: 1px solid @border-1;
	}

	i {
		font-size: @font-size;
		margin-right: @space-s;
	}
}

/*
 * New Account 
 */

:local(.naRoot) {
	position: relative;
	margin-left: @space-l;
}

:local(.naBody) {
	margin: 0 0 @space 0;
	font-size: @font-size-s;
	text-align: center;
	color: @white-2;
}

:local(.naDisabledIcon) {
	font-size: 40px;
	display: block;
	margin: 0 auto;
	color: @gray-1;
}

:local(.naHeading) {
	display: block;
	width: 80%;
	margin: @space auto;
	color: @error;
	font-size: @font-size;
}
