@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

:local(.buttonContainer) {
	display: flex;
	justify-content: space-between;
	padding: 0 @space-l;
	margin: @space-l 0;
}

:local(.buttonNext) {
	margin-left: auto;
}

:local(.progressContainer) {
	text-align: center;
}

:local(.progressText) {
	display: block;
	font-size: @font-size-s;
	color: @gray-1;
	line-height: 1;
	margin: 0 0 @space-l 0;
}

:local(.progressBar) {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: @modal-bg-light;
}

:local(.progress) {
	height: 4px;
	background: @primary;
	.transitionAll();
}
