@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_utils.less';

:local(.root) {
	padding: @space-xl @space;
	text-align: center;
}

:local(.icon) {
	fill: @white-2;
}

:local(.head) {
	display: block;
	margin: @space 0;
	font-size: @font-size-xl;
	color: @primary;
}

:local(.body) {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;

	:local(.content) {
		margin: 15px;

		:local(.message) {
			font-size: @font-size-s;
		}
	}
}

:local(.button) {
	font-weight: 700;
	font-size: @font-size-s;
}