
@import '../../../../less/_colours.less';
@import '../../../../less/_fonts.less';
@import '../../../../less/_space.less';
@import '../../../../less/_animations.less';

:local(.root) {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: @modal-bg;
}

:local(.content) {
	max-width: 400px;
	width: 100%;
	background-color: @tuna;
	.fadeInUp();
}

:local(.header) {
	display: flex;
	justify-content: space-between;
	padding: @space-s;
}

:local(.body) {
	padding: @space-s;
}